<section>
	<h1>{{pokemon.national_id}} - {{pokemon.name}}</h1>
  <button ng-click="synergize()">Check Synergy</button>
	<ul>
		<li  ng-repeat="type in pokemon.types">{{type.name}}</li>
	</ul>
	<a href="#/">Back</a>
	<a href="#/details/{{prevPoke}}">Prev</a>
	<a href="#/details/{{nextPoke}}">Next</a>
  <table style="color:white" ng-show="query.order">
    <tr>
      <th>Name</th>
      <th ng-click="setOrder('defended')">Defends for {{pokemon.name}}</th>
      <th>Reasons</th>
      <th ng-click="setOrder('defends')">Defended by {{pokemon.name}}</th>
      <th>Reasons</th>
      <th ng-click="setOrder('total')">Total</th>
    </tr>
    <tr ng-repeat="score in synergy_scores | orderBy:query.order:query.dir">
      <td>
        <ul>
        <div ng-repeat="name in score.names">
          <li>{{name}}</li>
        </div>
        </ul>
      </td>
      <td>{{score.defended}}%</td>
      <td>
        <ul>
        <div ng-repeat="reason in score.defended_reasons">
          <li>{{reason}}</li>
        </div>
        </ul>
        <hr>
      </td>
      <td>{{score.defends}}%</td>
      <td>
        <ul>
        <div ng-repeat="reason in score.defender_reasons">
          <li>{{reason}}</li>
        </div>
        </ul>
        <hr>
      </td>
      <td>
        {{score.total}}%
      </td>
    </tr>
  </table>
</section>