<section>
	<h1>{{pokemon.national_id}} - {{pokemon.name}}</h1>
  <button ng-click="synergize()">Check Synergy</button>
	<ul>
		<li  ng-repeat="type in pokemon.types">{{type.name}}</li>
	</ul>
	<a href="#/">Back</a>
	<a href="#/details/{{prevPoke}}">Prev</a>
	<a href="#/details/{{nextPoke}}">Next</a>
  <table style="color:white">
    <tr>
      <th>Name</th>
      <th>Defends for {{pokemon.name}}</th>
      <th>Reasons</th>
      <th>Defended by {{pokemon.name}}</th>
      <th>Reasons</th>
    </tr>
    <tr ng-repeat="score in synergy_scores | orderBy:'-defended'">
      <th>
        <ul>
        <div ng-repeat="name in score.names">
          <li>{{name}}</li>
        </div>
        </ul>
      </th>
      <th>{{score.defended}}%</th>
      <th>
        <ul>
        <div ng-repeat="reason in score.defended_reasons">
          <li>{{reason}}</li>
        </div>
        </ul>
        <hr>
      </th>
      <th>{{score.defends}}%</th>
      <th>
        <ul>
        <div ng-repeat="reason in score.defender_reasons">
          <li>{{reason}}</li>
        </div>
        </ul>
        <hr>
      </th>
    </tr>
  </table>
</section>