<div class="pokePage">
	<header><h1>Pokedex</h1></header>

	<form action="#">
		<input id="search" type="text" ng-model="query.search">

		<label >
			<select ng-model="query.order">
				<option value="name">Name</option>
				<option value="id">Id</option>
        <option value="hp">HP</option>
        <option value="attack">Attack</option>
        <option value="defense">Defense</option>
        <option value="speed">Speed</option>
        <option value="sp_atk">Sp. Attack</option>
        <option value="sp_def">Sp. Defense</option>
			</select>
		</label>

		<label>
			<input type="radio" ng-model="query.dir" name="direction" checked>
			ascending
		</label>
		<label>
			<input type="radio" ng-model="query.dir" name="direction" value="reverse">
			descending
		</label>
    <label>
      Include NFE: <input type="checkbox" ng-click="toggleNfe()">
    </label>
    <label ng-repeat="type in type_list">
      {{type}}<input name="types" type="checkbox" ng-click="toggleType(type)" checked>
    </label><br>    
	</form>

	<div ng-repeat="pokemon in pokedex | filter:{name:query.search} | orderBy:query.order:query.dir">
    <pokemon pkmn="pokemon"></pokemon>
	</div>
</div>