<div class="pokePage">
	<header><h1>Pokedex</h1></header>

	<form action="#">
		<input id="search" type="text" ng-model="query.search">

		<label >
			<select ng-model="query.order">
				<option value="name">Name</option>
				<option value="national_id">Id</option>
			</select>
		</label>

		<label>
			<input type="radio" ng-model="query.dir" name="direction" checked>
			ascending
		</label>
		<label>
			<input type="radio" ng-model="query.dir" name="direction" value="reverse">
			descending
		</label>
    <label>
      Include NFE: <input type="checkbox" ng-click="toggleNfe()">
    </label>
    <label ng-repeat="type in type_list">
      {{type}}<input name="types" type="checkbox" ng-click="toggleType(type)" checked>
    </label><br>
    <label>Toggle Stat Sort: <input type="checkbox" ng-model="toggleStat"></label> <br>
    <label ng-repeat="stat in stat_map" ng-show="toggleStat">
      {{stat.name}}: <input type="radio" name="stat" ng-click="setStat(stat.abbr)" >
    </label>
    
	</form>

	<div ng-repeat="pokemon in pokedex | filter:{name:query.search} | orderBy:query.order:query.dir | statSort:current_stat:query.dir:toggleStat">
    <pokemon pkmn="pokemon"></pokemon>
	</div>
</div>