<div class="pokePage">
	<header><h1>Pokedex</h1></header>

	<form action="#">
		<input id="search" type="text" ng-model="query.search">

		<label >
			<select ng-model="query.order">
				<option value="name">Name</option>
				<option value="national_id">Id</option>
			</select>
		</label>

		<label>
			<input type="radio" ng-model="query.dir" name="direction" checked>
			ascending
		</label>
		<label>
			<input type="radio" ng-model="query.dir" name="direction" value="reverse">
			descending
		</label>
    <label ng-repeat="type in type_list">
      {{type}}<input name="types" type="checkbox" ng-click="toggleType(type)">
    </label>
	</form>

	<div class="pokemon" ng-repeat="pokemon in pokedex | filter:{name:query.search} | orderBy:query.order:query.dir">
		<span class="number">{{pokemon.national_id}}</span>
		<div class="sprite"></div>
		<h2 class="name">{{pokemon.name | uppercase}}</h2>
		<span class="type" ng-repeat="type in pokemon.types">{{type.name}}</span>
	</div>
</div>