<section>
	<a ng-href="#/">Back</a>
	<a ng-href="#/details/{{prevPoke}}">Prev</a>
	<a ng-href="#/details/{{nextPoke}}">Next</a>
  <input id="search" type="text" ng-model="query.find">
  <div ng-repeat="mon in pokedex | filter:{name:query.find} | limitTo:10" ng-show="query.find">
    <a style="margin: 10px; background:blue; cursor: pointer;" ng-click="addPoke(mon)">{{mon.name}}</a>
  </div>
  <div class="pokemon-box" ng-repeat="poke in pokemon">
    <h1>#{{poke.national_id}} {{poke.name}} <span style="color: red; font-size:16px;"ng-click="removePoke(poke)" ng-if="$index !== 0">X</span></h1>
    <button ng-click="synergize()">Check Synergy</button>
    <ul>
      <li  ng-repeat="type in poke.types">{{type.name}}</li>
    </ul>
    Stats:
    <ul>
      <li>HP: {{poke.hp}}</li>
      <li>Attack: {{poke.attack}}</li>
      <li>Defense: {{poke.defense}}</li>
      <li>Speed: {{poke.speed}}</li>
      <li>Sp. Attack: {{poke.sp_atk}}</li>
      <li>Sp. Defense: {{poke.sp_def}}</li>
    </ul>
  </div>
  <table style="color:white" ng-show="syn_query.order">
    <tr>
      <th>Name</th>
      <th ng-click="setOrder('defender')">Defends for {{pokemon.name}}</th>
      <th>Reasons</th>
      <th ng-click="setOrder('defended')">Defended by {{pokemon.name}}</th>
      <th>Reasons</th>
      <th ng-click="setOrder('total')">Total</th>
    </tr>
    <tr ng-repeat="score in synergy_scores | orderBy:syn_query.order:syn_query.dir">
      <td>
        <h6>{{score.type}}</h6>
        <ul>
        <div ng-repeat="name in score.names track by $index">
          <li>{{name}}</li>
        </div>
        </ul>
      </td>
      <td>{{score.defender}}%</td>
      <td>
        <ul>
        <div ng-repeat="reason in score.defender_reasons">
          <li>{{reason}}</li>
        </div>
        </ul>
        <hr>
      </td>
      <td>{{score.defended}}%</td>
      <td>
        <ul>
        <div ng-repeat="reason in score.defended_reasons">
          <li>{{reason}}</li>
        </div>
        </ul>
        <hr>
      </td>
      <td>
        {{score.total}}%
      </td>
    </tr>
  </table>
</section>