<section>
  <h1 style="text-align: center;">{{pokemon.name}}</h1>
	<a ng-href="#/">Back</a>
	<a ng-href="#/details/{{prevPoke}}">Prev</a>
	<a ng-href="#/details/{{nextPoke}}">Next</a>
  <input id="search" type="text" ng-model="query.find">
  <div ng-repeat="mon in pokedex | filter:{name:query.find} | limitTo:10" ng-show="query.find">
    <a style="margin: 10px; background:blue; cursor: pointer;" ng-click="addPoke(mon)">{{mon.name}}</a>
  </div>
  <div class="pokemon-box">
    <h1>#{{pokemon.national_id}} {{pokemon.name}}</h1>
    <button ng-click="synergize()">Check Synergy</button>
    <ul>
      <li  ng-repeat="type in pokemon.types">{{type.name}}</li>
    </ul>
    Nature: <select ng-options="nat as nat for nat in natures" ng-model="pokemon.nature" ng-change="recalc_stats(pokemon)"></select>
    Stats:
    <ul class="stat-list">
      <li ng-repeat="stat in stats">
        {{stat.title}}: {{pokemon[stat.name]}} 
        EVs: <input only-digits 
                    max-digits="3" 
                    max-value="252" 
                    ng-change="poke_stat(stat.name, pokemon)"
                    type="text" size="2" 
                    ng-model="pokemon.stats[stat.name].ev_val"> 
        IVs: <input only-digits 
                    max-digits="2" 
                    max-value="31"
                    ng-change="poke_stat(stat.name, pokemon)" 
                    type="text" 
                    size="2" 
                    ng-model="pokemon.stats[stat.name].iv_val"> = {{pokemon.stats[stat.name].value}}
      </li>
    </ul>
  </div>
  <div class="pokemon-controls" ng-show="comparison">
    <h4>Damage Calc</h4> 
    Power: <input type="text"
           only-digits
           max-digits="3"
           size="2">
    Type: <select ng-options="type as type for type in type_list" ng-model="move.type"></select> 
    <label for="special">Special: </label><input type="radio" id="special" name="att_type" value="special"> 
    <label for="physical">Physical: </label><input type="radio" id="physical" name="att_type" value="physical">
    Result:
  </div>
  <div class="pokemon-box" ng-show="comparison">
    <h1>#{{comparison.national_id}} {{comparison.name}} <span ng-click="removePoke()" style="font-size: 20px; cursor: pointer;">x</span></h1>
    <ul>
      <li  ng-repeat="type in comparison.types">{{type.name}}</li>
    </ul>
    Nature: <select ng-options="nat as nat for nat in natures" ng-model="comparison.nature" ng-change="recalc_stats(comparison)"></select>
    Stats:
    <ul class="stat-list">
      <li ng-repeat="stat in stats">
        {{stat.title}}: {{comparison[stat.name]}} 
        EVs: <input only-digits 
                    max-digits="3" 
                    max-value="252" 
                    ng-change="poke_stat(stat.name, comparison)"
                    type="text" size="2" 
                    ng-model="comparison.stats[stat.name].ev_val"> 
        IVs: <input only-digits 
                    max-digits="2" 
                    max-value="31"
                    ng-change="poke_stat(stat.name, comparison)" 
                    type="text" 
                    size="2" 
                    ng-model="comparison.stats[stat.name].iv_val"> = {{comparison.stats[stat.name].value}}
      </li>
    </ul>
  </div>
  <table style="color:white; clear: both;" ng-show="syn_query.order">
    <tr>
      <th>Name</th>
      <th ng-click="setOrder('defender')">Defends for {{pokemon.name}}</th>
      <th>Reasons</th>
      <th ng-click="setOrder('defended')">Defended by {{pokemon.name}}</th>
      <th>Reasons</th>
      <th ng-click="setOrder('total')">Total</th>
    </tr>
    <tr ng-repeat="score in synergy_scores | orderBy:syn_query.order:syn_query.dir">
      <td>
        <h6>{{score.type}}</h6>
        <ul>
        <div ng-repeat="name in score.names track by $index">
          <li>{{name}}</li>
        </div>
        </ul>
      </td>
      <td>{{score.defender}}%</td>
      <td>
        <ul>
        <div ng-repeat="reason in score.defender_reasons">
          <li>{{reason}}</li>
        </div>
        </ul>
        <hr>
      </td>
      <td>{{score.defended}}%</td>
      <td>
        <ul>
        <div ng-repeat="reason in score.defended_reasons">
          <li>{{reason}}</li>
        </div>
        </ul>
        <hr>
      </td>
      <td>
        {{score.total}}%
      </td>
    </tr>
  </table>
</section>