<section>
	<a ng-href="#/">Back</a>
	<a ng-href="#/details/{{prevPoke}}">Prev</a>
	<a ng-href="#/details/{{nextPoke}}">Next</a>
  <input id="search" type="text" ng-model="query.find">
  <div ng-repeat="mon in pokedex | filter:{name:query.find} | limitTo:10" ng-show="query.find">
    <a style="margin: 10px; background:blue; cursor: pointer;" ng-click="addPoke(mon)">{{mon.name}}</a>
  </div>
  <div class="pokemon-box">
    <h1>#{{pokemon.national_id}} {{pokemon.name}}</h1>
    <button ng-click="synergize()">Check Synergy</button>
    <ul>
      <li  ng-repeat="type in pokemon.types">{{type.name}}</li>
    </ul>
    Stats:
    <ul>
      <li>HP: {{pokemon.hp}}</li>
      <li>Attack: {{pokemon.attack}}</li>
      <li>Defense: {{pokemon.defense}}</li>
      <li>Speed: {{pokemon.speed}}</li>
      <li>Sp. Attack: {{pokemon.sp_atk}}</li>
      <li>Sp. Defense: {{pokemon.sp_def}}</li>
    </ul>
  </div>
  <div class="pokemon-controls" ng-show="comparison">
  </div>
  <div class="pokemon-box" ng-show="comparison">
    <h1>#{{comparison.national_id}} {{comparison.name}} <span ng-click="removePoke()" style="font-size: 20px; cursor: pointer;">x</span></h1>
    <ul>
      <li  ng-repeat="type in comparison.types">{{type.name}}</li>
    </ul>
    Stats:
    <ul>
      <li>HP: {{comparison.hp}}</li>
      <li>Attack: {{comparison.attack}}</li>
      <li>Defense: {{comparison.defense}}</li>
      <li>Speed: {{comparison.speed}}</li>
      <li>Sp. Attack: {{comparison.sp_atk}}</li>
      <li>Sp. Defense: {{comparison.sp_def}}</li>
    </ul>
  </div>
  <table style="color:white; clear: both;" ng-show="syn_query.order">
    <tr>
      <th>Name</th>
      <th ng-click="setOrder('defender')">Defends for {{pokemon.name}}</th>
      <th>Reasons</th>
      <th ng-click="setOrder('defended')">Defended by {{pokemon.name}}</th>
      <th>Reasons</th>
      <th ng-click="setOrder('total')">Total</th>
    </tr>
    <tr ng-repeat="score in synergy_scores | orderBy:syn_query.order:syn_query.dir">
      <td>
        <h6>{{score.type}}</h6>
        <ul>
        <div ng-repeat="name in score.names track by $index">
          <li>{{name}}</li>
        </div>
        </ul>
      </td>
      <td>{{score.defender}}%</td>
      <td>
        <ul>
        <div ng-repeat="reason in score.defender_reasons">
          <li>{{reason}}</li>
        </div>
        </ul>
        <hr>
      </td>
      <td>{{score.defended}}%</td>
      <td>
        <ul>
        <div ng-repeat="reason in score.defended_reasons">
          <li>{{reason}}</li>
        </div>
        </ul>
        <hr>
      </td>
      <td>
        {{score.total}}%
      </td>
    </tr>
  </table>
</section>